<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LGA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <LGA.Properties.Settings>
            <setting name="NumberOfPulses" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="NumberOfSmooth" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="StartPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LengthSegment" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="VerticalOffset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SensorConversionFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfSegments" serializeAs="String">
                <value>1</value>
            </setting>
        </LGA.Properties.Settings>
    </userSettings>
</configuration>
